body {
  font-family: 'Nunito';
}

html {
  scroll-behavior: smooth;
}

form {
  width: 75%;
  /* border: 1px solid rgb(161, 161, 163);
  border-radius: 1em; */
  padding: 2em;
  margin: 1em;
}


button > a {
  color: white;
}

.container-fluid {
  height: 45em;
  padding: 2em 5em;
}

.btn-secondary {
  border-radius: 20em;
  padding: .5em 1em;
  background-color: #4A5FEE;
  color: white;
  border-color: #4A5FEE;
}

.btn-secondary:hover {
  border-radius: 20em;
  padding: .5em 1em;
  background-color: #fff;
  color: #4A5FEE;
  border-color: #4A5FEE;
}

.squish {
  padding: .2em .5em!important;
  font-size: 1em;
  margin-bottom: .5em;
}

.btn-warning {
  border-radius: 20em;
  padding: .5em 1em;
  color: #000;
  background-color: white;
  border-color: #FFDD6E;
  margin-bottom: 0.2em;
}

.btn-warning:hover {
  border-radius: 20em;
  padding: .5em 1em;
  background-color: #FFDD6E;
  color: #fff;
  border-color: #FFDD6E;

}

.btn-light {
  border-radius: 20em;
  margin-bottom: 0.2em;
}

.btn-primary {
  background-color: white;
  color: #000;
  width: 12em;
  height: 4em;
  margin: 0.5em;
  vertical-align: middle;
  border-color: #FFDD6E;
  border-radius: 20em;
}


.btn-primary:hover {
  background-color: #FFDD6E;
  color: white;
  border-color: #FFDD6E;
}

.btn-primary:active {
  background-color: #FFDD6E;
  color: white;
  border-color: #FFDD6E;
  box-shadow: 0 0 0 0.2rem #FFDD6E;
}

.h-50 {
  height: 50em;
}

a {
  vertical-align: middle;
}

p {
  font-size: 0.85em;
}

img:hover {
  opacity: 0.8;
}

.landing {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 40em; */
}

.landing-text {
  margin-top: 2em;
  margin-bottom: 2em;
}

#landing-img {
  max-width: 45em;
  z-index: -1;
  margin-top: 1em;
}

.thumb {
  max-width: 7em;
}

.subtitle {
  margin-top: .5em;
}

.bg-light {
  background-color: #fff!important;
  border-bottom: 1px solid #4a5fee;
}

#brand-icon {
  max-width: 30px;
  max-height: 30px;
}

#progress-icons {
  margin-left: 14em;
  width: 64%;
  border-top: 5px solid red;
}

#progress {
  border-top: 5px solid #da7185;
  width: 8%;
  margin-left: 14em;
}

#triangle {
position: absolute;
width: 690.72px;
height: 3637px;
left: -164px;
top: -1174px;

background: #FFF7DF;
}

#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
}

/* #questions {
  background: linear-gradient(182deg, rgb(245, 204, 73, 0.8) 170px,#fff 0);
} */

@keyframes move {
  0% {

  }
}

#results {
  /* background: linear-gradient(180deg, rgb(74, 95, 238) 200px,#fff 0); */
}

.psych-info {
  border: 1px solid rgb(74, 95, 238);
  border-radius: 5px;
  padding: 2em;
  margin: 2em 1em;
  width: 75%;
  background: #fff;
}

.resources {
  max-width: 20em;
  margin: 1em 1em 1em 0;
}

.ml-10 {
  margin-top: 10em;
}

.pl-10 {
  padding-left: 10em;
}

.txt-white {
  color: white;
}

.mw-25 {
  max-width: 25em;
}

.inline {
  display: inline;
}
