<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Title here {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-light bg-light ">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="justify-content-end">
        <a class="" href="/top-40"> </a>
        <a class="" href="/explore">  </a>
        <a class="" href="/logout">  </a>
      </div>
    </nav> -->

    <div class="container-fluid text-center landing h-50">
      <div class="landing-text">
        <h1>Let us help you become the best version of yourself.</h1>
      </div>
      <div>
        <a href="#questions" class="btn btn-secondary mb-1">Get started</a>
      </div>
      <img id="landing-img" src="https://hmh.sfo2.digitaloceanspaces.com/undraw_country_side_ayop.png" alt="">
    </div>

    <div class="container-fluid" id="questions">
      <a name="questions"></a>

      <div id="progress">

      </div>
      <div class="row mx-auto p-3 text-center">


          <form class="mx-auto" id="step1">
            <h2>Is this your first time seeking help?</h2>
            <button class="btn btn-primary" id="step1Yes">Yes</button>
            <button href="#" class="btn btn-primary">No</button>
          </form>

          <form class="mx-auto" id="step2" style="display:none;">
            <h2>What can we help with?</h2>

            <button class="btn btn-primary" id="step2Identity">Identity</button>
            <button class="btn btn-primary" id="step2SelfCare">Self-care</button>
            <button class="btn btn-primary" id="step2Relationships">Relationships</button>
            <button class="btn btn-primary" id="step2Workplace">Workplace</button>
            <button class="btn btn-primary" id="step2Trauma">Traumatic experience</button>
            <button class="btn btn-primary" id="step2Idk">I'm not sure</button>
          </form>

          <form class="mx-auto" id="step3" style="display:none;">

            <h2>Tell us more about the relationship.</h2>

            <button class="btn btn-primary" id="step3Family">Family</button>
            <button class="btn btn-primary" id="step3Work">Work</button>
            <button class="btn btn-primary" id="step3SO">Significant Other</button>
            <button class="btn btn-primary" id="step3Friend">Friend</button>
            <button class="btn btn-primary" id="step3Other">Other</button>

          </form>

          <form class="mx-auto" id="step4" style="display:none;">

            <h2>Let's find out what works best for you</h2>
            <h6>How much time can you commit?</h6>

            <button class="btn btn-primary" id="step4Weekly">Weekly</button>
            <button class="btn btn-primary" id="step4Work">Monthly</button>
            <button class="btn btn-primary" id="step4More">More frequently</button>
            <button class="btn btn-primary" id="step4Whenever">Whenever I need</button>

          </form>

          <form class="mx-auto" id="step5" style="display:none;">

            <h2>What's your budget?</h2>

            <button class="btn btn-primary" id="step5Free">Free</button>
            <button class="btn btn-primary" id="step5Fifty">$50/session or less</button>
            <button class="btn btn-primary" id="step530">$50-100/session</button>
            <button class="btn btn-primary" id="step540">$100/session or more</button>
            <button class="btn btn-primary" id="step5Idk">I don't know</button>

          </form>


          <form class="mx-auto" id="step6" style="display:none;">

            <h2>What kind of communication works best for you?</h2>

            <button class="btn btn-primary" id="step6Person">In person</button>
            <button class="btn btn-primary" id="step520">Phone calls</button>
            <button class="btn btn-primary" id="step530">Video calls</button>
            <button class="btn btn-primary" id="step540">Self-help resources</button>
            <button class="btn btn-primary" id="step5Idk">Texting</button>

          </form>

          <form class="mx-auto" id="step7" style="display:none;">

            <h2>What are your goals?</h2>
            <h6>How do you want to improve your relationships?</h6>

            <button class="btn btn-primary" id="step7Workplace">Better communication</button>
            <button class="btn btn-primary" id="step7More">More relationships</button>
            <button class="btn btn-primary" id="step7Mend">Mend a relationship</button>
            <button class="btn btn-primary" id="step7Talk">Just talk to someone</button>
            <button class="btn btn-primary" id="step7Other">Other</button>

          </form>

      </div>

    </div>

    <div class="container-fluid" id="results">
      <h2 class="text-center ">We found some ways for you to get help.</h2>
      <div class="row psych-info mx-auto">
        <div class="col-2">
          <img class="thumb mx-auto" src="https://hmh.sfo2.digitaloceanspaces.com/psych1.jpg" alt="">
        </div>
        <div class="col-6">
            <h4 class="">Roger Brown, M.D.</h4>
            <p>Dr. Brown is part of the core faculty at the John Muir Health family medicine residency program and a volunteer assistant clinical professor.</p>
            <p>I am ready to assist you with whatever brings you here! My aim is to provide support for you and help you set and achieve goals, heal and grow. I am a licensed Marriage and Family Therapist with experience helping people with different issues and in areas of personal growth and development. I have worked in hospitals, counseling centers, schools and private practice. I am licensed in both Texas and California and also see international clients. I'm looking forward to working with you!</p>


        </div>
        <div class="col-4">
          <h5>Available times this week</h5>
          <h6>Monday, March 24th</h6>
          <button type="button" name="button" class="btn btn-warning">10:15am</button>
          <button type="button" name="button" class="btn btn-warning">11:35am</button>
          <button type="button" name="button" class="btn btn-warning">3:00pm</button>
          <p></p>
          <h6><b>Focus</b></h6>
          <button type="button" name="button" class="btn btn-light">Emotional abuse</button>
          <button type="button" name="button" class="btn btn-light">LGBTQ+ issues</button>
          <button type="button" name="button" class="btn btn-light">Family group therapy</button>
        </div>

      </div>

      <div class="row psych-info mx-auto">
        <div class="col-2">
          <img class="thumb mx-auto" src="https://hmh.sfo2.digitaloceanspaces.com/psych2.jpg" alt="">
        </div>
        <div class="col-6">
          <h4 class="">Tracy Miller, LCSW</h4>
          <p>My work as a Reiki practitioner informs a mind/body approach. Relaxation techniques including deep breathing and meditation.</p>
          <p>Life has a tendency to throw us curveballs occasionally and sometimes we need a little assistance getting through these difficult times. It can be tough to ask for help especially when we are going through tough times. You can come here for a warm, nonjudgmental safe place to explore and grown through difficult times. I am an LCSW in CA. I received my Master of Social Work from USC. Most of my experience is with adult outpatient mental health. I also have experience in inpatient psych (adults and adolescents), hospice and in a school district. Therapy offers a safe place to tackle your symptoms, not yourself.</p>
        </div>
        <div class="col-4">
          <h5>Available times this week</h5>
          <h6>Monday, March 24th</h6>
          <button type="button" name="button" class="btn btn-warning">9:30am</button>
          <button type="button" name="button" class="btn btn-warning">1:30pm</button>
          <button type="button" name="button" class="btn btn-warning">4:00pm</button>
          <p></p>
          <h6><b>Focus</b></h6>
          <button type="button" name="button" class="btn btn-light">Divorce</button>
          <button type="button" name="button" class="btn btn-light">Couples counseling</button>
          <button type="button" name="button" class="btn btn-light">Family group therapy</button>
        </div>
      </div>

      <div class="row psych-info mx-auto">
        <div class="col-2">
          <img class="thumb mx-auto" src="https://hmh.sfo2.digitaloceanspaces.com/psych3.jpg" alt="">
        </div>
        <div class="col-6">
          <h4 class="">Chris Thompson, MSW</h4>
          <p>My approach will help to develop insight, articulate goals and formulate plans of action that are clearly defined, easily stated and time limited.</p>
          <p>I am a Licensed Clinical Psychologist with 20 years' experience working with a variety of people and issues that show up in therapy. I am licensed in CA, SC and NC, having lived on the east coast, California and in Costa Rica. I love my field and I feel privileged to be on the therapy journey with my clients. Sometimes one of the hardest steps is asking for help and support. I look forward to working together and creating a plan to reach your therapy goals and to be there with you along the way. Not accepting non-Costa Rican international clients.</p>
        </div>
        <div class="col-4">
          <h5>Available times this week</h5>
          <h6>Monday, March 24th</h6>
          <button type="button" name="button" class="btn btn-warning">11:30am</button>
          <button type="button" name="button" class="btn btn-warning">4:30pm</button>
          <p></p>
          <h6><b>Focus</b></h6>
          <button type="button" name="button" class="btn btn-light">Religious tension</button>
          <button type="button" name="button" class="btn btn-light">Couples counseling</button>
          <button type="button" name="button" class="btn btn-light">Family group therapy</button>
        </div>
      </div>


      <div class="row">
        <div class="col-6 pl-10">
          <h3>Articles</h3>
            <img class="resources" src="https://hmh.sfo2.digitaloceanspaces.com/maxresdefault_live.jpg" alt="">
            <h5>Emotional regulation</h5>
            <p class="mw-25">The psychology of emotion regulation: An integrative review. The present article reviews modern research on the psychology of emotion regulation.</p>
            <img class="resources" src="https://hmh.sfo2.digitaloceanspaces.com/1200px-American_Psychological_Association_logo.svg.png" alt="">
            <h5>Trust issues</h5>
            <p class="mw-25">Trust Issues: Psychology and Common Beliefs. A person with trust issues may harbor negative beliefs about trust and may find themselves thinking limiting thoughts, such as: “I can never let my guard down.” ...</p>


        </div>
        <div class="col-6">
          <h3>Other resources</h3>
            <img class="resources" src="https://hmh.sfo2.digitaloceanspaces.com/share.jpg" alt="">
            <h5>Headspace</h5>
            <p class="mw-25">Live a healthier, happier, more well-rested life in just a few minutes a day with the Headspace app.</p>
            <img class="resources" src="https://hmh.sfo2.digitaloceanspaces.com/calm.png" alt="">
            <h5>Calm</h5>
            <p class="mw-25">Calm includes guided meditations and Sleep Stories to help you reduce anxiety, lower stress and sleep better.</p>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/babel" src="/static/scripts.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
